<section>
  <h1 class="lg:text-6xl md:text-5xl text-4xl py-2 font-bold lg:px-8 md:px-6 px-4">
    Welcome to my projects page!
  </h1>
  <h2 class="lg:text-xl md:text-lg text-md font-normal px-12">
    This is where you'll find a collection of my most notable and demanding full-stack web
    applications. Each project features a brief description, key technologies utilized, and visual samples to give you
    an
    insight into my work. I strive to continuously improve and create unique solutions, so this page is regularly
    updated
    with my latest projects. Explore and let me know your thoughts.
  </h2>

  <div *ngIf="projects$ | async as obj">
    <div
      class="xl:grid lg:grid md:grid xl:grid-cols-5 lg:grid-cols-3 grid-cols-1 md:grid-cols-2 gap-x-2 gap-y-2 justify-items-center lg:px-14 md:px-10">
      <div class="card sm:card-side shadow-xl" *ngFor="let item of obj">
        <div class="card-body">
          <h2 class="card-title">{{ item.projectName }}
            <img *ngIf="item.isNotable" src="../assets/images/star.png" alt="Relevant star" width="20" height="20"
              aria-label="Relevant skills star image">
          </h2>
          <div>
            <p class="py-4">{{ item.projectIntroduction }}</p>
            <div class="badge py-2" *ngFor="let label of item.projectLabels">{{ label }}</div>
          </div>
          <div class="card-actions justify-end">
            <a class="btn btn-primary" [href]="item.projectLink" rel="noopener" target="_blank">See GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>