<!-- <p>about-me works!</p> -->
<div class="flex justify-center lg:mx-16 lg:my-16">
  <div class="card w-auto bg-base-100 shadow-2xl">
    <div class="card-body">
      <div *ngIf="aboutMe$ | async as obj">
        <h1 class="text-7xl text-center font-bold py-2">{{ obj.headingText }}</h1>
        <p class="text-center text-lg font-normal lg:text-lg py-5">{{ obj.bodyText }}</p>
        <h2 class="text-center text-4xl font-bold py-3">Notable Projects</h2>
        <ul *ngFor="let item of obj.notableProjects">
          <li class="text-center lg:text-lg font-normal">{{item}}</li>
        </ul>
        <div class="card-body items-center text-center">
          <div class="card-actions">
            <a class="btn btn-primary" [href]="obj.contactMe">
              contact me <img class="pl-2" src="../assets/images/email.svg" alt="email">
            </a>
            <a href="https://www.youtube.com" rel="noopener" target="_blank">
              <img height="48" width="48" src="../assets/images/youtube.svg" alt="YouTube">
            </a>
            <a href="https://github.com/ProgrammingWithTyler" rel="noopener" target="_blank">
              <img height="48" width="48" src="../assets/images/github.svg" alt="GitHub">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
