<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" aria-label="Toggle button" />
  <div class="drawer-content flex flex-col">
    <div class="w-full navbar bg-base-300">
      <div class="flex-none lg:hidden">
        <label for="my-drawer" class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </label>
      </div>
      <div class="flex-1 px-2 mx-2">
        <a [routerLink]="''">{{ title }}</a>
      </div>
      <div class="flex-none hidden lg:block">
        <ul class="menu menu-horizontal">
          <li>
            <a routerLink="/projects" routerLinkActive="active">Projects</a>
          </li>
          <li>
            <a routerLink="/skills" routerLinkActive="active">Skills</a>
          </li>
          <li>
            <a routerLink="/recommendations" routerLinkActive="active">Recommendations</a>
          </li>
          <li>
            <a routerLink="/about-me" routerLinkActive="active">About me</a>
          </li>
        </ul>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="drawer-side">
    <label for="my-drawer" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 bg-base-100">
      <li>
        <div class="grid gap-4 justify-items-center">
          <a routerLink="/projects">Projects</a>
        </div>
      </li>
      <li>
        <div class="grid gap-4 justify-items-center">
          <a routerLink="/skills">Skills</a>
        </div>
      </li>
      <li>
        <div class="grid gap-4 justify-items-center">
          <a routerLink="/recommendations">Recommendations</a>
        </div>
      </li>
      <li>
        <div class="grid gap-4 justify-items-center">
          <a routerLink="/about-me">About me</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<app-footer></app-footer>