<section>
  <h1 class="lg:text-6xl md:text-5xl text-4xl py-2 font-bold lg:px-8 md:px-6 px-6">
    Welcome to my Skills page!
  </h1>
  <h2 class="lg:text-xl md:text-lg text-md font-normal px-12">
    Assessing proficiency in areas of comfort
  </h2>

  <div *ngIf="progLang$ | async as obj">
    <h3 class="lg:text-3xl md:text-2xl text-xl font-normal lg:px-12 md:px-8 px-6">Programming Languages</h3>
    <div
      class="lg:grid md:grid xl:grid-cols-6 lg:grid-cols-5 md:grid-cols-3 gap-x-1 gap-y-1 justify-items-center px-16">
      <div class="card sm:card-side shadow-xl" *ngFor="let item of obj">
        <div class="card-body">
          <h2 class="card-title">{{ item.title }}
            <img *ngIf="item.isRelevant" src="../assets/images/star.png" alt="Relevant star" width="20" height="20"
              aria-label="Relevant skills star image">
          </h2>
          <div class="flex justify-center">
            <img [src]="item.imageSvg" [alt]="item.title" aria-label="Programming Language skills image">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="frameworks$ | async as obj">
    <h3 class="lg:text-3xl md:text-2xl text-xl font-normal lg:px-12 md:px-8 px-6">Frameworks</h3>
    <div
      class="lg:grid md:grid xl:grid-cols-6 lg:grid-cols-5 md:grid-cols-3 gap-x-1 gap-y-1 justify-items-center px-16">
      <div class="card sm:card-side shadow-xl" *ngFor="let item of obj">
        <div class="card-body">
          <h2 class="card-title">{{ item.title }}
            <img *ngIf="item.isRelevant" src="../assets/images/star.png" alt="Relevant star" width="20" height="20"
              aria-label="Relevant skills star image">
          </h2>
          <div class="flex justify-center">
            <img [src]="item.imageSvg" [alt]="item.title" aria-label="Framework skills image">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="tools$ | async as obj">
    <h3 class="lg:text-3xl md:text-2xl text-xl font-normal lg:px-12 md:px-8 px-6">Tools</h3>
    <div
      class="lg:grid md:grid xl:grid-cols-6 lg:grid-cols-5 md:grid-cols-3 gap-x-1 gap-y-1 justify-items-center px-16 md:py-4">
      <div class="card sm:card-side shadow-xl" *ngFor="let item of obj">
        <div class="card-body">
          <h2 class="card-title">{{ item.title }}</h2>
          <div class="flex justify-center">
            <img [src]="item.imageSvg" [alt]="item.title" aria-label="Tool skills image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>