<section>
  <div *ngIf="relevantSkills$ | async as obj">
    <h1 class="text-5xl font-bold py-3 lg:px-16">My Skills</h1>
    <h2 class="text-3xl font-bold py-3 lg:px-24">Most Relevant Skills</h2>
    <div class="lg:grid grid-cols-7 gap-4 gap-x-2 gap-y-2 justify-items-center lg:px-32">
      <div class="card sm:card-side shadow-xl" *ngFor="let item of obj">
        <div class="card-body">
          <h2 class="card-title">{{ item.title }}</h2>
          <div class="flex justify-center">
            <img [src]="item.imageSvg" [alt]="item.title" aria-label="Most relevant skills image">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="progLang$ | async as obj">
    <h2 class="text-3xl font-bold py-3 lg:px-24">Programming Languages</h2>
    <div class="lg:grid grid-cols-7 gap-4 gap-x-2 gap-y-2 justify-items-center lg:px-32">
      <div class="card sm:card-side shadow-xl" *ngFor="let item of obj">
        <div class="card-body">
          <h2 class="card-title">{{ item.title }}</h2>
          <div class="flex justify-center">
            <img [src]="item.imageSvg" [alt]="item.title" aria-label="Programming Language skills image">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="frameworks$ | async as obj">
    <h2 class="text-3xl font-bold py-3 lg:px-24">Frameworks</h2>
    <div class="lg:grid grid-cols-7 gap-4 gap-x-2 gap-y-2 justify-items-center lg:px-32">
      <div class="card sm:card-side shadow-xl" *ngFor="let item of obj">
        <div class="card-body">
          <h2 class="card-title">{{ item.title }}</h2>
          <div class="flex justify-center">
            <img [src]="item.imageSvg" [alt]="item.title" aria-label="Framework skills image">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="tools$ | async as obj">
    <h2 class="text-3xl font-bold py-3 lg:px-24">Tools</h2>
    <div class="lg:grid grid-cols-7 gap-4 gap-x-2 gap-y-2 justify-items-center lg:px-32">
      <div class="card sm:card-side shadow-xl" *ngFor="let item of obj">
        <div class="card-body">
          <h2 class="card-title">{{ item.title }}</h2>
          <div class="flex justify-center">
            <img [src]="item.imageSvg" [alt]="item.title" aria-label="Tool skills image">
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
